# Site settings
course_name: Data Mining
course_description: "Data mining is the process of analyzing a data set to find insights.Once data is collected in the data warehouse, the data mining process begins and involves everything from cleaning the data of incomplete records to creating visualizations of findings. Data mining is usually associated with the analysis of the large data sets present in the fields of big data, machine learning and artificial intelligence.The process looks for patterns, anomalies and associations in the data with the goal of extracting value. For example, in the case of self-driving cars, data associations could help identify driving actions that are more likely to lead to accidents. The six core stages of the data mining process include anomaly detection, dependency modelling, clustering, classification, regression and report generation."
course_semester: "Spring 2021"

baseurl: "/CS-SBU-DataMining-Msc-3992" # the subpath of your site, e.g. /blog/
url: "http://alisharifi2000.github.io/" # the base hostname & protocol for your site

schoolname: "Shahid Beheshti University"
schoolurl: "https://sbu.ac.ir"
#twitter_username: username 

address: |
    Shahid Beheshti University,
    Shahid Shahriari Square,
    Daneshjou Boulevard,
    Shahid Chamran Highway,
    Tehran, Iran

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
google_analytics: G-81SM43E48E

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css', '_js']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
